@{
    ViewData["Title"] = "EarningIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Earnings list</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Earnings</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Your historical</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tbEarnings" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>PositionDate</th>
                                        <th>EInvestmentType</th>
                                        <th>StockBroker</th>
                                        <th>TicketCode</th>
                                        <th>ISINCode</th>
                                        <th>Type</th>
                                        <th>Bookkeeping</th>
                                        <th>Quantity</th>
                                        <th>QuantityAvailable</th>
                                        <th>QuantityUnavailable</th>
                                        <th>Reason</th>
                                        <th>ClosingPrice</th>
                                        <th>ValueUpdated</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                 
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script type="text/javascript">

    function loadTableEarnings() {
        $('#tbEarnings').dataTable({
            "sAjaxSource": '/B3/GetAjaxHandlerPositions',
            "bProcessing": true,
            "bServerSide": false,
            "paginate": true,
            "bDestroy": true,
            "aoColumns": [
                {
                    "mData": "PositionDate",
                    "bSortable": true,
                    "defaultContent": "<i>EInvestmentType</i>",
                },
                {
                    "mData": "StockBroker",
                    "bSortable": true,
                    "defaultContent": "<i>StockBroker</i>",
                },
                {
                    "mData": "TicketCode",
                    "bSortable": true,
                    "defaultContent": "<i>TicketCode</i>",
                },
                {
                    "mData": "ISINCode",
                    "bSortable": true,
                    "defaultContent": "<i>ISINCode</i>",
                },
                {
                    "mData": "Type",
                    "bSortable": true,
                    "defaultContent": "<i>Type</i>",
                },
                {
                    "mData": "Bookkeeping",
                    "bSortable": true,
                    "defaultContent": "<i>Bookkeeping</i>",
                },
                {
                    "mData": "Quantity",
                    "bSortable": true,
                    "defaultContent": "<i>Quantity</i>",
                },
                {
                    "mData": "QuantityAvailable",
                    "bSortable": false,
                    "defaultContent": "<i>QuantityAvailable</i>",
                },
                {
                    "mData": "QuantityUnavailable",
                    "bSortable": false,
                    "defaultContent": "<i>QuantityUnavailable</i>",
                },
                {
                    "mData": "Reason",
                    "bSortable": false,
                    "defaultContent": "<i>Reason</i>",
                },
                {
                    "mData": "ClosingPrice",
                    "bSortable": false,
                    "defaultContent": "<i>ClosingPrice</i>",
                },
                {
                    "mData": "ValueUpdated",
                    "bSortable": false,
                    "defaultContent": "<i>ValueUpdated</i>",
                }
            ]
        });
    }
    jQuery(document).ready(function() {
        loadTableEarnings();
    });
</script>


