@{
    ViewData["Title"] = "MovementIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Movements list</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Movements</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Movements</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tbMovements" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>InputOutput</th>
                                        <th>Date</th>
                                        <th>MovimentType</th>        
                                        <th>TicketCode</th>  
                                        <th>StockBroker</th>
                                        <th>Quantity</th>
                                        <th>UnitPrice</th>
                                        <th>TransactionValue</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                 
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script type="text/javascript">

    function loadTableMovements() {
        $('#tbMovements').dataTable({
            "sAjaxSource": '/B3/GetAjaxHandlerMovements',
            "bProcessing": true,
            "bServerSide": false,
            "paginate": true,
            "bDestroy": true,
            "aoColumns": [
                {
                    "mData": "InputOutput",
                    "bSortable": true,
                    "defaultContent": "<i>InputOutput</i>",
                },
                {
                    "mData": "Date",
                    "bSortable": true,
                    "defaultContent": "<i>Date</i>",
                },
                {
                    "mData": "MovimentType",
                    "bSortable": true,
                    "defaultContent": "<i>MovimentType</i>",
                },
                {
                    "mData": "TicketCode",
                    "bSortable": true,
                    "defaultContent": "<i>TicketCode</i>",
                },
                {
                    "mData": "StockBroker",
                    "bSortable": true,
                    "defaultContent": "<i>StockBroker</i>",
                },
                {
                    "mData": "Quantity",
                    "bSortable": true,
                    "defaultContent": "<i>Quantity</i>",
                },
                {
                    "mData": "UnitPrice",
                    "bSortable": true,
                    "defaultContent": "<i>UnitPrice</i>",
                },
                {
                    "mData": "TransactionValue",
                    "bSortable": true,
                    "defaultContent": "<i>TransactionValue</i>",
                }
            ]
        });
    }
    jQuery(document).ready(function() {
        loadTableMovements();
    });
</script>


