@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Earnings list</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">My money</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Report</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tbReport" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>TicketCode</th>
                                        <th>Category</th>    
                                        <th>YoC total (DY+JCP)</th>
                                        <th>Average (DY+JCP)</th>
                                        <th>YoC total (DY)</th>
                                        <th>Average (DY)</th>
                                        <th>Average buy Price</th>
                                        <th>Quantity</th>
                                        <th>Profit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script type="text/javascript">

    function loadTableReport() {
        $('#tbReport').dataTable({
            "sAjaxSource": '/MyMoney/GetAjaxHandlerReport',
            "bProcessing": true,
            "bServerSide": false,
            "paginate": true,
            "bDestroy": true,
            "aoColumns": [
                {
                    "mData": "TicketCode",
                    "bSortable": true,
                    "defaultContent": "<i>TicketCode</i>",
                },
                {
                    "mData": "Category",
                    "bSortable": true,
                    "defaultContent": "<i>Category</i>",
                },
                {
                    "mData": "YoCTotal",
                    "bSortable": true,
                    "defaultContent": "<i>YoCTotal</i>",
                },
                {
                    "mData": "AllEarningAvaregePrice",
                    "bSortable": true,
                    "defaultContent": "<i>AllEarningAvaregePrice</i>",
                },
                {
                    "mData": "YoCDyTotal",
                    "bSortable": true,
                    "defaultContent": "<i>YoCTotal</i>",
                },
                {
                    "mData": "DyEarningAvaregePrice",
                    "bSortable": true,
                    "defaultContent": "<i>DyEarningAvaregePrice</i>",
                },
                {
                    "mData": "BrokeragesAveragePrice",
                    "bSortable": true,
                    "defaultContent": "<i>BrokeragesAveragePrice</i>",
                },
                {
                    "mData": "Quantity",
                    "bSortable": true,
                    "defaultContent": "<i>Quantity</i>",
                },
                {
                    "mData": "Profit",
                    "bSortable": true,
                    "defaultContent": "<i>Profit</i>",
                }
            ]
        });
    }

    jQuery(document).ready(function () {
        loadTableReport();
    });
</script>


