@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Earnings list</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">My money</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Report</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <select id="categoryList" class="form-control select2" style="width: 100%;">
                                            <option value="all" selected="selected">Todos</option>
                                            <option value="Ações">Ações</option>
                                            <option value="Fundos imobiliários">Fundos imobiliários</option>
                                        </select>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Filter date</label>
                                        <select id="periodList" class="form-control select2" style="width: 100%;">
                                            <option value="all" selected="selected">Todos</option>
                                            <option value="thisYear">Ano @DateTime.Now.Year</option>
                                            <option value="6">6 meses</option>
                                            <option value="12">12 meses</option>
                                            <option value="24">24 meses</option>
                                            <option value="60">60 meses</option>
                                        </select>
                                    </div>
                                    <!-- /.form-group -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tbReport" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>TicketCode</th>
                                        <th>Category</th>
                                        <th>DateInitSet</th>
                                        <th>Dividend</th>
                                        <th>YoC</th>
                                        <th>BrokeragesAveragePrice</th>
                                        <th>EarningTotal</th>
                                        <th>DividendTotal</th>
                                        <th>JCPTotal</th>
                                        <th>QuantityStocks</th>
                                        <th>Profit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script type="text/javascript">

    function getSelectedValue(component){
        return $('option:selected', component).val();
    }

    function loadTableReport(category, period) {

        $('#tbReport').dataTable({
            "sAjaxSource": '/MyMoney/GetAjaxHandlerReport?category=' + category + '&period=' + period,
            "bProcessing": true,
            "bServerSide": false,
            "paginate": true,
            "bDestroy": true,
            "aoColumns": [
                {
                    "mData": "TicketCode",
                    "bSortable": true,
                    "defaultContent": "<i>TicketCode</i>",
                },
                {
                    "mData": "Category",
                    "bSortable": true,
                    "defaultContent": "<i>Category</i>",
                },
                {
                    "mData": "DateInitSet",
                    "bSortable": true,
                    "defaultContent": "<i>DateInitSet</i>",
                },             
                {
                    "mData": "Dividend",
                    "bSortable": true,
                    "defaultContent": "<i>Dividend</i>",
                },
                {
                    "mData": "YieldOnCost",
                    "bSortable": true,
                    "defaultContent": "<i>YieldOnCost</i>",
                },
                {
                    "mData": "BrokeragesAveragePrice",
                    "bSortable": true,
                    "defaultContent": "<i>BrokeragesAveragePrice</i>",
                },
                {
                    "mData": "EarningTotal",
                    "bSortable": true,
                    "defaultContent": "<i>EarningTotal</i>",
                },
                {
                    "mData": "DividendTotal",
                    "bSortable": true,
                    "defaultContent": "<i>DividendTotal</i>",
                },
                {
                    "mData": "JCPTotal",
                    "bSortable": true,
                    "defaultContent": "<i>JCPTotal</i>",
                },
                {
                    "mData": "QuantityStocks",
                    "bSortable": true,
                    "defaultContent": "<i>QuantityStocks</i>",
                },
                {
                    "mData": "Profit",
                    "bSortable": true,
                    "defaultContent": "<i>Profit</i>",
                }
            ]
        });
    }

    $("#categoryList").change(function () {
        loadTableReport($('option:selected', this).val(), $('option:selected', $("#periodList")).val());
    });

    $("#periodList").change(function () {
        loadTableReport($('option:selected', $("#categoryList")).val(), $('option:selected', this).val());
    });

    jQuery(document).ready(function () {
        loadTableReport($('option:selected', $("#categoryList")).val(), $('option:selected', $("#periodList")).val());
    });
</script>


