
@{
    ViewData["Title"] = "Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Data lançamento</th>
                                    <th>Classificação</th>
                                    <th>Grupo de contas</th>
                                    <th>Descrição</th>
                                    <th>Forma de pgto</th>
                                    <th>Banco</th>
                                    <th>Valor</th>
                                    <th>Data de pgto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>06/07/2020</td>
                                    <td>Renda familiar</td>
                                    <td>Comissões</td>
                                    <td>10% de vendas</td>
                                    <td>À vista</td>
                                    <td>Banco 1</td>
                                    <td>R$3.000,00</td>
                                    <td>10/07/2020</td>
                                </tr>
                                <tr>
                                    <td>06/07/2020</td>
                                    <td>Outras receitas</td>
                                    <td>Ações</td>
                                    <td>MAGALU</td>
                                    <td>À vista</td>
                                    <td>Banco 1</td>
                                    <td>R$3.000,00</td>
                                    <td>10/07/2020</td>
                                </tr>
                                <tr>
                                    <td>06/07/2020</td>
                                    <td>Despesa com saúde</td>
                                    <td>Plano médico</td>
                                    <td>Unimed</td>
                                    <td>À vista</td>
                                    <td>Banco 2</td>
                                    <td>R$300,00</td>
                                    <td>10/07/2020</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                    <th>CSS grade</th>
                                    <th>CSS grade</th>
                                    <th>CSS grade</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

