
@{
    ViewData["Title"] = "AddTransaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Cadastro de transações financeiras</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Add Transaction</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Classificação financeira</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Grupo 1</label>
                                <select class="form-control select2" style="width: 100%;">
                                    <option selected="selected">Transportes</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Sub grupo 1.1</label>
                                <select class="form-control select2" style="width: 100%;">
                                    <option selected="selected">Oficina</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Sub grupo 1.1.1 <span class="text-danger">*</span></label>
                                <select class="form-control select2" style="width: 100%;">
                                    <option selected="selected">Peças</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                                <p class="text-danger">Obrigatório</p>
                            </div>
                            <div class="form-group">
                                <label>Descrição</label>
                                <input type="text" class="form-control" placeholder="Enter ...">
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>

                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Adicionar registro</h3>
                        </div>
                        <div class="card-body">
                            <!-- select -->
                            <div class="form-group">
                                <label>Tipo movimentação</label>
                                <select class="form-control select2">
                                    <option>Despesa</option>
                                    <option>Investimento</option>
                                    <option>Transferência</option>
                                    <option>Receita</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Banco</label>
                                <div class="select2-purple">
                                    <select id="slt2Banks" class="select2" data-placeholder="Select a bank" data-dropdown-css-class="select2-purple" style="width: 100%;" asp-items="@((List<SelectListItem>)ViewData["ListBanks"])"></select>
                                </div>
                            </div>
                            <label>Valor</label>
                            <div class="input-group">
                                
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" id="money" style="text-align: left;"><br>
                            </div>
                            <div class="form-group">
                                <label>Data de movimentação:</label>
                                <input type="text" class="form-control" id="datemask" data-inputmask-alias="datetime" data-inputmask-inputformat="mm/dd/yyyy" data-mask>
                            </div>

                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="float-right">
                                <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Save</button>
                            </div>
                            <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> Discard</button>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>

                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="~/lib/jquery.inputmask/jquery.inputmask.js"></script>
<script src="~/lib/jquery.inputmask/inputmask.min.js"></script>
<script type="text/javascript">
    $(function () {
        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' });

        $("#money").inputmask('currency', {
            "autoUnmask": true,
            radixPoint: ",",
            groupSeparator: ".",
           // allowMinus: false,
          //  prefix: 'R$ ',
            digits: 2,
            //    digitsOptional: false,
            rightAlign: false
        //    unmaskAsNumber: true
        });
    });
</script>